<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>[%p] %d [%t] %M - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="target/logs/selenium-mailru.log">
            <PatternLayout>
                <Pattern>[%p] %d [%t] %M - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
